@use '../../../__colors.css';

.first,
.fourth {
  .arrow-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 0.6rem;
    width: 1.4rem;
    z-index: 2;
    transition: transform 0.4s, color 0.2s;
    svg {
      z-index: 3;
      width: 100%;
    }
  }

  .arrow-cricle-inner {
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--yellow-brand);
    z-index: 1;
    border-radius: 100%;
    transition: width 0.4s, height 0.4s;

  }
}


.second {
  position: relative;
  padding: 1rem 2.5rem;
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .animation-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    overflow: hidden;
  }
  .left-star,
  .right-star {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.6rem;
    min-height: 1.6rem;
    max-width: 1.6rem;
    max-height: 1.6rem;
    transition: transform 0.4s;
    svg{
      width: 100%;
    }
  }
  .left-star {
    transform: translateX(-120%);
  }
}

.third {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .left-arrow,
  .right-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    transition: transform 0.3s;
    svg{
      width: 100%;
    }
  }
  .left-arrow {
    color: var(--yellow-brand);
    transform: translateX(-2.2rem);
  }
  .text {
    padding-right: 1rem;
    transition: transform 0.3s;
  }
}

.fourth {
  .arrow-circle {
    color: var(--slate-grey);
    transform: rotate(-45deg);
    border-radius: 100%;
    width: 3.4rem;
    height: 3.4rem;
    margin-left: 0.5rem;
    overflow: hidden;
  }

  .text {
    transition: color 0.4s;
  }
  .arrow-first,
  .arrow-second {
    height: 1.6rem;
    position: absolute;
    transition: transform 0.4s;
    overflow: hidden;
  }
  .arrow-first {
    color: var(--black-brand);
    transform: translateX(-250%);
  }
}

.fourth:hover {
  .arrow-circle {
    // transform: rotate(-45deg);
    color: var(--black-brand);
  }
  .arrow-cricle-inner {
    width: 3.6rem;
    height: 3.6rem;
  }
  .text {
    color: var(--slate-grey);
  }
  .arrow-first {
    transform: translateX(0%);
  }
  .arrow-second {
    transform: translateX(+250%);
  }
}

.third:hover {
  .left-arrow {
    transform: translateX(0rem);
  }
  .text {
    transform: translateX(1rem);
  }
  .right-arrow {
    transform: translateX(2.2rem);
  }
}

.first:hover {
  .arrow-circle {
    transform: rotate(-45deg);
    color: var(--black-brand);
  }
  .arrow-cricle-inner {
    width: 3.6rem;
    height: 3.6rem;
  }
}

.second:hover {
  .left-star {
    transform: translateX(0%);
  }
  .right-star {
    transform: translateX(120%);
  }
}
