@use '../../__colors.css';

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 24rem;
    p {
      color: var(--slate-grey);
      font-size: 1rem;
      text-align: center;
    }
  }
  .logo {
    width: 100px;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    a {
      text-decoration: none;
      color: var(--white-brand);
      font-size: 1.1rem;
      transition: color 0.4s;
      cursor: pointer;
      &:hover {
        color: var(--slate-grey);
      }
    }
  }

  .line {
    margin: 3rem 0;
    width: 20%;
    height: 1px;
    background-color: #ffffff1a;
  }

  .photo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .photo {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      background-image: url('https://cdn.prod.website-files.com/64ab4ca244ef5156093937b6/65d8aa87970a005836a96999_YFGoBjUt_400x400.webp');
      background-size: contain;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    padding: 3rem;
    .footer-item {
      align-items: flex-start;
      p {
        text-align: left;
      }
    }
    .line {
      width: 50%;
    }
    .photo-wrapper {
      p {
        font-size: 1.6rem;
      }
    }
  }
}
