@use '../../__colors.css';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 32rem;
  padding: 30px;
  border-radius: 20px;
  overflow: visible;
  gap: 20px;
}

.colection {
  position: absolute;
  top: calc(-1px - 8px);
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  background-color: var(--black-brand);
  border: 1px solid var(--slate-grey);
  border-radius: 100px;
  p {
    font-size: 1rem;
    line-height: 1rem;
    color: var(--slate-grey);
  }
}

.border-grey {
  border: 1px solid rgba(109, 112, 130, 0.21);
}

.border-white {
  border: 1px solid rgba(236, 236, 236, 0.08);
}

.bgc-white {
  background-color: var(--white);
}

.bgc-black-2 {
  background-color: var(--black-2);
}
.bgc-black-brand {
  background-color: var(--black-brand);
}
